@import "_normalize"
body
  background-color darken(white, 20%)
  


*, *:before, *:after {

	box-sizing: border-box
	position relative
}



html
	font-size 62.5%

body
	font-size 1.6rem




canvas
  position absolute
  display block
  top 0
  // transform:translate3d(0, 0, 0); 
  // perspective: 1000;
  // backface-visibility: hidden; 
  // transition all 0.15s ease-in-out
  // filter blur(0px)


  left 0
  width 100%
  height 100% !important
  // z-index -1
  // background-color transparent
  

.screen {
	opacity 0
	pointer-events none
	width 100%
	height 100vh
	// background-color red
	overflow hidden
	display block
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	
	transition all 0.2s ease-in-out
}



.game-screen {
	background-color green
}

.visible-screen {
	opacity 1
	pointer-events auto
	
}
.centered-content
	text-align center
	
	max-width 48rem
	margin 0 auto
	height 30rem
	background-color blue