@import "_normalize"

*, *:before, *:after 

  box-sizing: border-box
  position relative
  user-select: none



@keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@keyframes animLand {
   0% { background-position: 0px 0px; }
   100% { background-position: -335px 0px; }
}
@keyframes animSky {
   0% { background-position: 0px 100%; }
   100% { background-position: -275px 100%; }
}
@keyframes animCeiling {
   0% { background-position: 0px 0px; }
   100% { background-position: -63px 0px; }
}



@font-face {
    font-family: 'flappyfont';
    src: url('../fonts/04b_19__-webfont.eot');
    src: url('../fonts/04b_19__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04b_19__-webfont.woff2') format('woff2'),
         url('../fonts/04b_19__-webfont.woff') format('woff'),
         url('../fonts/04b_19__-webfont.ttf') format('truetype'),
         url('../fonts/04b_19__-webfont.svg#04b_19regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html
  font-size 62.5%

body
  font-size 1.6rem
  background-color #4ec0ca
  font-family "flappyfont"




html, body {
  height 100%
  overflow hidden
  
}


.screen {
  // opacity 0
  pointer-events none
  width 100%
  height 100%
  // background-color red
  overflow hidden
  display block
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  
  transition all 0.2s ease-in-out
}



// .game-screen {
//  background-color green
// }

.visible-screen {
  opacity 1
  pointer-events auto
  z-index 2
  
}

.intro-screen 
  top 10rem
  
  h1 
    color lightgreen
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;



  input[type="text"]
    display block
    width 80%
    margin 0 auto
    border none
    height 4.5rem
    background-color rgba(white, 0.2)
    border 1px solid rgba(black, 0.2)
    border-radius 0.4rem
    

  button
    appearance none
    border none
    background-color rgba(white, 0.2)
    padding 1rem 3rem
    margin-top 2rem
    
    
.centered-content
  text-align center
  
  max-width 48rem
  margin 0 auto
  height 30rem
  // background-color blue
    


canvas
  position absolute
  display block
  top 0
  left 0
  width 100%
  height 80% !important
  z-index 10
  // z-index -1
  // background-color transparent
  


.drawed-objects
  position absolute
  display block
  


.ceiling
  position: absolute
  // top: -16px
  height: 16px
  width: 100%
  background-image: url('../images/ceiling.png')
  background-repeat: repeat-x
  -webkit-animation: animCeiling 500ms linear infinite
  z-index 13
   // animation: animCeiling 481ms linear infinite;

.floor
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20%;
   z-index 12
   background-image: url('../images/land.png');
   background-repeat: repeat-x;
   background-position: 0px 0px;
   background-color: #ded895;
   -webkit-animation: animLand 2500ms linear infinite;
   

.bird
  left 2rem
  top: 0
  margin-top -2.4rem 
  transform translateY(-200px)
  width 3.4rem
  height 2.4rem
  // background-color green
  position: absolute
  background-image: url('../images/bird.png')
  -webkit-animation: animBird 300ms steps(4) infinite


.sky
  width 100%
  height 80%
  background-color green
  top 0
  background-image: url('../images/sky.png');
  background-repeat: repeat-x;
  background-position: 0px 100%;
  background-color: #4ec0ca;   
  -webkit-animation: animSky 7s linear infinite;
  
.pipe
  position: absolute;
  // left: -100px;
  width: 52px; 
  height: 100%;
  z-index: 10;
  left 0
   

.pipe-upper
   position: absolute;
   top: 0;
   width: 52px;
   background-image: url('../images/pipe.png');
   background-repeat: repeat-y;
   background-position: center;


.pipe-upper:after
   content: "";
   position: absolute;
   bottom: 0;
   width: 52px;
   height: 26px;
   background-image: url('../images/pipe-down.png');


.pipe-lower
   position: absolute;
   bottom: 0;
   width: 52px;
   background-image: url('../images/pipe.png');
   background-repeat: repeat-y;
   background-position: center;


.pipe-lower:after
   content: "";
   position: absolute;
   top: 0;
   width: 52px;
   height: 26px;
   background-image: url('../images/pipe-up.png');


.score
  
  position absolute
  top 2rem
  left 2rem
  width 4rem
  hegith 6rem
  background-color rgba(white, 0.4)
  z-index 16
  border-radius 0.4rem
  
  h1
    text-align center
    